In [2]:
import pandas as pd

In [6]:
df = pd.read_csv("reportedby_doctor_year_month_dayofweek.csv")
og_tf = pd.read_csv("original_files/Table_Files.csv")

In [4]:
df.head()

,reported_by,years,updated_on_month,updated_on_day,total_reporting_time_taken_hh_mm_ss,min_reporting_time_taken_hh_mm_ss,avg_reporting_time_taken_hh_mm_ss,max_reporting_time_taken_hh_mm_ss,count_of_xrays
0,Dr_Nikunj_Kothia,2019,September,Friday,9:22:45,0:24:33,1:52:33,3:50:49,5
1,Dr_Nikunj_Kothia,2019,September,Monday,12:17:26,2:28:56,05:48.7,6:46:02,3
2,Dr_Nikunj_Kothia,2019,September,Saturday,11:41:55,0:14:18,40:16.4,3:51:04,7
3,Dr_Nikunj_Kothia,2019,September,Thursday,6:39:01,6:39:01,6:39:01,6:39:01,1
4,Dr_Nikunj_Kothia,2019,September,Tuesday,4:06:20,1:05:13,2:03:10,3:01:07,2

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256 entries, 0 to 255
Data columns (total 9 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   reported_by                          256 non-null    object
 1   years                                256 non-null    int64
 2   updated_on_month                     256 non-null    object
 3   updated_on_day                       256 non-null    object
 4   total_reporting_time_taken_hh_mm_ss  256 non-null    object
 5   min_reporting_time_taken_hh_mm_ss    256 non-null    object
 6   avg_reporting_time_taken_hh_mm_ss    256 non-null    object
 7   max_reporting_time_taken_hh_mm_ss    256 non-null    object
 8   count_of_xrays                       256 non-null    int64
dtypes: int64(2), object(7)
memory usage: 18.1+ KB

In [7]:
og_tf.

,id,username,status,assigned_to,created_on,created_by,updated_on,updated_by,Deleted_on,Deleted_by,group_id,image_type,shoot_id,og_reported_by,second_opinion,rejected_by,RAS_count,reporting_extended,reporting_time_limit
0,57703,Drone_1,processed,Dr_Ravi_Chavan,2020-08-03 08:54:23,Drone_1,2020-08-03 09:32:10,Dr_Ravi_Chavan,NaN,NaN,45011,xray,0,NaN,NaN,None,1,0,2020-08-03 10:01:31
1,57608,Gayatri_1,viewed,Dr_Ravi_Chavan,2020-08-03 07:21:04,Gayatri_1,2020-08-03 07:27:03,Gayatri_1,NaN,NaN,44901,xray,0,NaN,NaN,None,1,0,2020-08-03 07:57:16
2,57614,Gayatri_1,viewed,Dr_Ravi_Chavan,2020-08-03 07:25:29,Gayatri_1,2020-08-03 09:18:05,Gayatri_1,NaN,NaN,44907,xray,0,NaN,NaN,None,1,0,2020-08-03 09:46:14
3,57657,Gayatri_1,viewed,Dr_Ravi_Chavan,2020-08-03 07:40:10,Gayatri_1,2020-08-03 07:56:34,Gayatri_1,NaN,NaN,44956,xray,0,NaN,NaN,None,1,0,2020-08-03 08:25:49
4,57714,GMC_1,viewed,Dr_Ravi_Chavan,2020-08-03 08:52:00,GMC_1,2020-08-03 09:32:39,GMC_1,NaN,NaN,45004,xray,0,NaN,NaN,None,1,0,2020-08-03 10:01:31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57602,57650,SDC_1,viewed,Dr_Nikunj_Kothia,2020-08-03 07:36:53,SDC_1,2020-08-03 09:20:23,SDC_1,NaN,NaN,44953,xray,0,NaN,NaN,None,1,0,2020-08-03 09:49:04
57603,57700,Drone_1,processed,Dr_Ravi_Chavan,2020-08-03 08:54:23,Drone_1,2020-08-03 09:28:45,Dr_Ravi_Chavan,NaN,NaN,45009,xray,0,NaN,NaN,None,1,0,2020-08-03 09:55:46
57604,57616,Atharv_1,viewed,Dr_Nikunj_Kothia,2020-08-03 07:34:24,Atharv_1,2020-08-03 09:24:01,Atharv_1,NaN,NaN,44943,xray,0,NaN,NaN,None,1,0,2020-08-03 09:51:18
57605,57613,Chamunda_1,viewed,Dr_Ravi_Chavan,2020-08-03 07:26:32,Chamunda_1,2020-08-03 09:20:43,Chamunda_1,NaN,NaN,44908,xray,0,NaN,NaN,None,1,0,2020-08-03 09:48:14
57606,57702,Drone_1,processed,Dr_Ravi_Chavan,2020-08-03 08:54:23,Drone_1,2020-08-03 09:29:15,Dr_Ravi_Chavan,NaN,NaN,45010,xray,0,NaN,NaN,None,1,0,2020-08-03 09:59:44